{
  "insecure-registries" : ["{{ insecure_registries }}"],
  "icc": {{ icc }},
  "disable-legacy-registry": {{ disable_legacy_registry }},
  "userland-proxy": {{ userland_proxy }},
  "live-restore": {{ live_restore }},
  "log-driver": "syslog",
  "log-opts": {
    "syslog-address": "{{ logdriver_syslogaddress }}",
    "syslog-facility": "{{ logdriver_syslogfacility }}",
    "tag": "{{ logdriver_tag }}"
  }
}
