name: profile
title: {{ inspec_profile_title }}
maintainer: {{ inspec_profile_maintainer }}
copyright: {{ inspec_profile_copyright }}
copyright_email: {{ inspec_profile_copyright_email }}
license: {{ inspec_profile_license }}
summary: {{ inspec_profile_summary }}
version: {{ inspec_profile_version }}
supports:
  - os-family: {{ inspec_profile_supports_os_family }}
